<!DOCTYPE html>
<html
  class="notranslate"
  translate="no"
  dir="ltr"
  style="background-color: #121218"
>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta name="google" content="notranslate" />
    <% if (ctx.prod) { %>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-S8LQETJ7W1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-S8LQETJ7W1')
    </script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5110777286519562"
      crossorigin="anonymous"
    ></script>
    <% } %>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
