// app global css in SCSS form
:root {
  --q-dark-back: #181826;
  --quality-magic: rgb(105, 105, 255);
  --quality-rare: #ffff00;
  --quality-unique: #a59263;
  --quality-set: #00ff00;
  --quality-crafted: #ffa500;
  --quality-runewords: #a59263;
  --sockoreth: #777777;
  --border-color: #ffffff10;
  --container-width: 1180px;
}

body {
  overflow-y: scroll;
}

.bg-dark-page {
  background-color: var(--q-dark-page);
}

.text-dark-page {
  color: var(--q-dark-page);
}

.bg-darkless {
  background-color: #121218;
}

.text-darkless {
  color: #19191f;
}

.text-brighten {
  color: var(--border-color);
}

.bg-brighten {
  background-color: var(--border-color);
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--q-secondary);
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-transition: background-color 0.28s ease-in-out;
  transition: background-color 0.28s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--q-primary);
}

.q-list--bordered,
.q-stepper--dark.q-stepper--bordered,
.q-stepper--dark .q-stepper__header--border,
.q-card--bordered,
.q-table--dark .q-table__bottom,
.q-table--dark thead,
.q-table--dark tr,
.q-table--dark th,
.q-table--dark td,
.q-table__card--dark,
.q-table--dark {
  border-color: var(--border-color);
}

.q-list--dark.q-list--separator > .q-item-type + .q-item-type,
.q-list--dark.q-list--separator
  > .q-virtual-scroll__content
  > .q-item-type
  + .q-item-type {
  border-top-color: var(--border-color);
}

.q-menu--dark {
  box-shadow: none;
  border: solid 1px var(--border-color);
  border-radius: 0 0 4px 4px;
}

.q-field__native span {
  text-overflow: ellipsis !important;
  overflow: hidden;
}

.q-separator--dark {
  background: var(--border-color);
  box-shadow: 0 -1px 1px var(--q-dark-page), -1px 0 1px var(--q-dark-page);
  position: relative;
  z-index: 1;
}

.q-btn--outline:before {
  border-color: var(--border-color);
}

.no-hover .q-focus-helper {
  display: none;
}

.q-btn.disabled {
  opacity: 0.3 !important;
}

.d2r-chip {
  padding: 8px 10px;
  z-index: 1;
  border-radius: 10px;
  letter-spacing: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6), 0 2px 0 0 rgba(255, 255, 255, 0.1),
    0 -2px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(255, 255, 255, 0.3);
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 20%;
}

.q-menu--dark,
.q-select__dialog {
  background: var(--q-dark-back);
}

.bottom-bar {
  position: sticky;
  bottom: 0;
  z-index: 2;
  margin: 0 auto;
  padding: 10px 0 10px 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--q-dark-page);
    opacity: 0.8;
  }

  & .q-btn {
    pointer-events: auto;
  }
}

.drawer {
  & .q-dialog__inner--minimized {
    padding: 0;
  }
}
